<%= form_for(@m_book, url: purchase_requests_path) do |f| %>
  <% if @purchase_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_request.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @purchase_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="action">
    <%= f.label :name, "タイトル" %>
    <%= f.text_field :name %>
    <%= f.label :isbn, "ISBNコード" %>
    <%= f.text_field :isbn %>
    <%= hidden_field_tag "purchase_request[request_user_id]", current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
