<p id="notice"><%= notice %></p>

<h1>Listing Purchase Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_requests.each do |purchase_request| %>
      <tr>
        <td><%= link_to 'Show', purchase_request %></td>
        <td><%= link_to 'Edit', edit_purchase_request_path(purchase_request) %></td>
        <td><%= link_to 'Destroy', purchase_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase request', new_purchase_request_path %>
