<header class="navbar navbar-fixed-top navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
      <%= link_to image_tag("logo.png"), root_path, :class => 'img-rounded' %>

      <% if user_signed_in? %>
    <ul class="nav navbar-nav pull-right center-block">
      <li>
        <a class="navbar-brand" href="https://github.com/">
          <%= image_tag current_user.thumbnail_image, :class => 'img-rounded' %>
        </a>
      <li>
      <li>
        <%= link_to current_user.show_name, user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
      <li><%= link_to "ログイン", user_omniauth_authorize_path(:github) %></li>
      <% end %>
    </ul>
  </div>
</header>