<%= form_for(@m_book, url: products_path) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="action">
      <%= f.label :name, "タイトル" %>
      <%= f.text_field :name %>
      <%= f.label :isbn, "ISBNコード" %>
      <%= f.text_field :isbn %>
      <%= hidden_field_tag "product[owner_id]", current_user.id %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>