<h1>Listing Products</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Name</th>
      <th>Status</th>
      <th>Reserved Count</th>
      <th>Borrower</th>
      <th>Borrowed Date</th>
      <th>Returned Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <% history = product.latest_borrowing_history %>
      <tr>
        <td><%= product.m_book.isbn %></td>
        <td><%= product.m_book.name %></td>
        <td><%= product.status %></td>
        <td><%= product.reservations.count %></td>
        <td><%= history.try :borrower_id %></td>
        <td><%= l history.try :borrowed_at %></td>
        <td><%= l history.try :returned_at %></td>
        <% if product.status != :borrowed %>
          <td><%= link_to 'Brrow', product_borrowing_histories_path(product_id: product.id), method: :post, class: "btn btn-primary" %></td>
        <% else %>
          <td><%= link_to 'Reserve', product_reservations_path(product_id: product.id), method: :post, class: "btn btn-primary" %></td>
        <% end %>
        <td>
          <% unless history.nil? %>
            <%= link_to 'Return', product_borrowing_history_path(history, product_id: product.id), method: :put, disabled: product.status == :returned, class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

