<p id="notice"><%= notice %></p>

<p>
  <strong>M book:</strong>
  <%= @product.m_book_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Requested date:</strong>
  <%= @product.requested_date %>
</p>

<p>
  <strong>Request user:</strong>
  <%= @product.request_user_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
