<p id="notice"><%= notice %></p>

<h1>本 一覧</h1>
<%= link_to '新規登録', new_admin_m_book_path %>


<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ISBNコード</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_books.each do |m_book| %>
      <tr>
        <td><%= m_book.name %></td>
        <td><%= m_book.isbn %></td>
        <td><%= link_to '詳細', admin_m_book_path(m_book) %></td>
        <td><%= link_to '更新', edit_admin_m_book_path(m_book) %></td>
        <td><%= link_to '削除', admin_m_book_path(m_book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

