    <div class=".well sidebar-nav">
      <ul class="nav nav-list">
      <% if current_user.admin? %>
        <li><%= link_to "領収書管理", admin_receipts_path %></li>
        <li><%= link_to "拠点管理", admin_m_branches_path %></li>
        <li><%= link_to "本マスター管理", admin_m_books_path %></li>
      <% else %>
        <li><%= link_to "本購入リクエスト", purchase_requests_path %></li>
        <li><%= link_to "社内の本一覧", products_path %></li>
        <li><%= link_to "ユーザー毎の本一覧", products_path(user_id: current_user.id) %></li>
        <li><%= link_to "所有本の登録", m_books_path %></li>
      <% end %>
      </ul>
    </div>