<!DOCTYPE html>
<html>
<head>
  <title>Book2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <%= render 'shared/header' %>
      <div class="row">
        <div class="col-lg-3">
          <%= render 'shared/sidebar' %>
        </div>
        <div class="col-lg-9">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      <%= render 'shared/footer' %>
    </div>
  </div>
</body>
</html>
